/*
CSS By Alex Cassell
http://alexcassell.com
*/
/* color pallette */
/* https://coolors.co/98c1d9-466365-b1b7d1-9b9fb5-a5d8ff */


.participants__flexWrapper{
    display: flex;
    flex-direction: row;
    width: 20vw;
    overflow-x: scroll;
}

.participants__userImage{
    min-width:75px;
    min-height: 75px;
    background-color: grey;
    margin: 5px;
}