/*
CSS By Alex Cassell
http://alexcassell.com
*/
/* color pallette */
/* https://coolors.co/98c1d9-466365-b1b7d1-9b9fb5-a5d8ff */

@font-face {
    font-family: Adventuring;
    src: url(../fonts/Adventuring.otf);
}

body{
    background-color: #98C1D9;
}

.conversations__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.conversation__add{
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 3vw;
    color: white;
    text-shadow: 2px 2px #466365;
}

.conversation__addButton{
    position: relative;
    margin-top: 5vh;
    margin-right: 50px;
    width: 10vh;
    height: 10vh;
    /* border-radius: 50px; */
    /* border: 5px solid #466365; */
    text-shadow: 2px 2px #466365;
    color: white;
    cursor: pointer;
}

.conversationsBackground{
    /* background-color: #98C1D9; */
    position: absolute;
    width: 100%;
    height: 100%;
}

.conversations__newWrapper{
    font-family: Adventuring;
    position: absolute;
    height: 80vh;
    top: 20vh;
    left: 15vw;
    padding-left: 4vw;
    z-index: 15;
}

.ui.size.input{
    width: 400px;
}

.ui.size.input.small{
    width: 200px;
}

.ui.input.participants{
    width: 200px;

}

.conversations__schedule{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2vh;
}

/* Drop down menu */
.conversations__time{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.conversations__dropButton {
    background-color: #466365;
    color: white;
    padding: .5vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.conversations__timeZoneDropdown {
    position: relative;
    display: inline-block;
}

.conversations__dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    /* display: flex;//dev only */
}

.conversations__timeZone__square{
    background-color: #f9f9f9;
}

.conversations__dropdown-content a {
    color: black;
    border: black 1px solid;
    padding: .5vw .5vw;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.conversations__dropdown-content a:hover {
    background-color: #466365;
    color: white;
}

.conversations__timeZoneDropdown:hover .conversations__dropdown-content {
    display: flex;
}

.conversations__timeZoneDropdown:hover .conversations__dropButton {
    background-color: #466365;
    color: white;
}

.conversations__buttonAdd{
    position: relative;
    bottom: 0px;
    cursor: pointer;
}

.conversations__question{
    display: flex;
    flex-direction: row;
}

.conversations__questionsWrapper{
    display: flex;
    flex-direction: row;
}
/* 
.conversations__input{
    position: relative;
    right: 0px;
}
*/
.conversations__questionsStateWrapper{
    display: flex;
    flex-direction: column;
}

.conversations__questions{
    position: relative;
    margin-top: 5px;
}

.conversations__questionsSpacer{
    margin: 10px;
}


