/*
CSS By Alex Cassell
http://alexcassell.com
*/
/* color pallette */
/* https://coolors.co/98c1d9-466365-b1b7d1-9b9fb5-a5d8ff */

@font-face {
    font-family: Adventuring;
    src: url(../fonts/Adventuring.otf);
}

body{
    background-color: #98C1D9;
}

.conversations__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.conversations__scroll{
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.conversation__add{
    position: absolute;
    font-family: Adventuring;
    top: 50%;
    left: 30%;
    font-size: 3vw;
    color: white;
    text-shadow: 2px 2px #466365;
}

.conversation__addButton{
    position: relative;
    margin-top: 5vh;
    left: 40%;
    width: 10vh;
    height: 10vh;
    text-shadow: 2px 2px #466365;
    color: white;
    cursor: pointer;
}

.conversationsBackground{
    position: absolute;
    width: 100%;
    height: 100%;
}

.conversations__newWrapper{
    position: absolute;
    height: 80vh;
    top: 20vh;
    left: 15vw;
    padding-left: 4vw;
    z-index: 15;
}

.ui.size.input{
    width: 400px;
}

.ui.size.input.small{
    width: 200px;
}

.ui.input.participants{
    width: 200px;

}

/* Drop down menu */
.conversations__time{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.conversations__buttonAdd{
    position: relative;
    bottom: 0px;
    cursor: pointer;
}

.conversations__question{
    display: flex;
    flex-direction: row;
}

.conversations__questionsWrapper{
    display: flex;
    flex-direction: row;
}
/* 
.conversations__input{
    position: relative;
    right: 0px;
}
*/
.conversations__questionsStateWrapper{
    display: flex;
    flex-direction: column;
}

.conversations__questions{
    position: relative;
    margin-top: 5px;
}

.conversations__questionsSpacer{
    margin: 10px;
}

.converations__createNew{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.converations__createNew__header{
    font-weight: bold;
    
    font-size: 1vw;
}

.converations__createNew__icon{
    position: relative;
    align-self: center;
}
/* 
 */

.conversations__schedule{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.conversations__scheduleTitle{
    font-size: 1.5rem;
    font-weight: bold;
}

.conversations__timeZoneDropdown {
    position: relative;
    display: flex;
    flex-direction: row;

}

.conversationTimeWrapper{    
    direction: flex;
    flex-direction: row;
}

/* .conversationTimeZone{
    margin-left: 15px;
} */

/* .conversations__showTimeZone{
    float: right;
} */

.conversationsTime__inputForm{
    width: 45%;
}
/* 
.conversationsTimeZone__inputForm{
    position: absolute;
    left: 0;
    width: 45%;
    min-width:
} */