/*
CSS By Alex Cassell
http://alexcassell.com
*/
/* color pallette */
/* https://coolors.co/98c1d9-466365-b1b7d1-9b9fb5-a5d8ff */

.interiorNavigation{
    position: fixed;
    pointer-events:auto;
    top: 20vh;
    left: 1vw;

}

/* pushes text in side menu down a little further from top */
.interiorNavigation__items__spacer{
    margin-top: 3vh;
}

.interiorNavigation__items{
    color: white;
    text-shadow: 2px 2px #466365;
    padding: 1vh;
    font-size: 1.2vw;
}

a {
    color: black;
}