/*
CSS By Alex Cassell
http://alexcassell.com
*/
/* color pallette */
/* https://coolors.co/98c1d9-466365-b1b7d1-9b9fb5-a5d8ff */

@font-face {
    font-family: Adventuring;
    src: url(../fonts/Adventuring.otf);
}

.interior__wrapper{
    font-family: Adventuring;
    position: absolute;
    /* background-color: #98C1D9; */
    height: 100%;
    width: 100%;
}

.interior__header{
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    background-color: #B1B7D1;
    box-shadow: 10px 10px #466365;
}

.logo{
    position: fixed;
    top: -5vw;
    margin-top: 5px;
    left: 10px;
    width: 15vw;
    height: 15vw;
    background: url('../images/logo.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.interior__title{
    position: absolute;
    width: 88vw;
    left: 12vw;
    padding-top: 3.9vh;
    text-align: center;
    color: white;
    font-size: 8.5vh;
    text-shadow: 2px 2px #466365;
}

.interior__signOut{
    position: absolute;
    right: 2vw;
    margin-top: -2.5vw;
    width: 11vw;
    height: 11vw;
    background: url('../images/signOut.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.interior__signOut:hover{
    position: absolute;
    right: 2vw;
    margin-top: -2.5vw;
    width: 11vw;
    height: 11vw;
    background: url('../images/signOutHover.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}