/*all colors are temp */


@font-face {
    font-family: Adventuring;
    src: url(../fonts/Adventuring.otf);
}

body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    
    
}
.wrapper{
    background-color: lightblue;
    font-family: Adventuring;
    height: 100vh;
}

/* the wrapper for eveything below the header at the top of the landing page */

@media screen and (min-width: 1000px) {
    .landingTop{
        position: absolute;
        top: 10vh;
    }

    .landingTop__tite{
        position: relative;
        padding: 1vw;
        width: 100vw;
        font-weight: bold;
        text-align: center;
        color: darkblue;
        font-size: 2vw;
    }

    .landingTop__tite__sub{
        margin-top: 2vw;
        font-size: 1.5vw;
    }
}

/* Mobile */

@media screen and (max-width: 999px) {
    .landingTop{
        position: absolute;
        top: 10vh;
    }

    .landingTop__tite{
        position: relative;
        padding: 1vw;
        width: 100vw;
        font-weight: bold;
        text-align: center;
        color: darkblue;
        font-size: 3vh;
    }

    .landingTop__tite__sub{
        margin-top: 2vh;
        font-size: 2vh;
    }
}
