/* .questionsWrapper{
    display: flex;
    flex-direction: column;
} */

.questions__Add{
    position: absolute;
    right: -1vw;
}

.questions__addButton{
    position: relative;
    border-radius: 25px;
    top: 1vh;
    width: 3vw;
    height: 3vw
}

.conversations__questionsTitle{
    font-size: 1.5rem;
    font-weight: bold;
}


